/* Remove Number Input Arrows */
	input::-webkit-outer-spin-button, 
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance:  textfield;
	}

/* Input Fields */
	#inputs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 5px;
	}


	#inputs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 5px;
	}

	#inputs-container > p {
		font-weight: 1000;
		margin-bottom: 15px;
		font-size: 17px;
	}

	#inputs-container > label {
		text-align: center;
		width: 100%;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.timer-input {
		display: block;
		width: 65%;
		margin: auto;
		margin-top: 5px;
		padding: 7px;
		text-align: center;
		font-size: 20px;
		background: #555;
		color: #eee;
		border-radius: 5px;
	}

	.timer-input:focus {
		outline: none;
		border-bottom: 3px solid #999;
		background: #444;
	}

	#inputs-button-container {
		display: flex;
		position: relative;
	}

	#submit-values-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px; height: 40px;
		background: #333; color: #fff;
		font-size: 15px;
		margin-top: 20px;
		border-radius: 3px;
	}
	
	#save-as-preset-button {
		position: absolute;
		right: -50px;
		background-color: #333; color: #fff;
		border-radius: 50%;
		width: 30px; height: 30px;
		font-weight: bold;
		font-size: 16px;
	}

	#submit-values-button:hover, #save-as-preset-button:hover {
		border: 1px solid #999;
	}

	#submit-values-button:active, #save-as-preset-button:active {
		background: #222;
	}