/* General */
	* {
		margin: 0;
		border: none;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
	}
	body {
		display: flex;
		flex-direction: column;
		/**/
		width: 100vw;
		height: 100vh;
		/**/
		background-color: #191A19;
		color: #dfdbe5;
		font-family: sans-serif;
	}
	/* Remove Number Input Arrows */
		input::-webkit-outer-spin-button, 
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		input[type=number] {
			-moz-appearance:  textfield;
		}

/* Header */ 
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		/**/
		width: 100%;
		height: 60px;
		/**/
		position: relative;
		padding: 5px;
		padding-left: 8px;
		margin: 0;
	}

	#open-settings-button {
		margin: 0;
		padding: 0;
		height: 70%;
		width: min-content;
		background: none;
		color: #dfdbe5aa;
	}

	#open-settings-button:hover {
		color: #dfdbe5;
		cursor: pointer;
	}
	#open-settings-button > svg {
		height: 100%;
	}

/* Input Fields */
	#timer-values-inputs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 5px;
	}

	#timer-values-inputs-container > p {
		font-weight: 1000;
		margin-bottom: 15px;
		font-size: 17px;
	}

	#timer-values-inputs-container > label {
		text-align: center;
		width: 100%;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.input-timer-values {
		display: block;
		width: 65%;
		margin: auto;
		margin-top: 5px;
		padding: 7px;
		text-align: center;
		font-size: 20px;
		background: #555;
		color: #eee;
		border-radius: 5px;
	}

	.input-timer-values:focus {
		outline: none;
		border-bottom: 3px solid #999;
		background: #444;
	}

	#confirm-values	{
		display: block;
		width: 30%; height: 40px;
		background: #333; color: #fff;

		margin-top: 5px;
		border-radius: 3px;
	}
	
/* DEV */
	#confirm-values:hover {
		background: green;
	}
	#confirm-values:active {
		background: red;
	}

	#timer-values-inputs-container {
		/*display: none;*/
	}



#preset-timer-values-button {
	height: 50px; width: 100px;

	position: absolute;	
	bottom: 0;
	left: -50px;

	border-top-right-radius: 110px;
	border: 10px solid gold;
	background: gold;
}

#placeholder-tab-button {
	height: 50px; width: 100px;

	position: absolute;	
	bottom: 0;
	right: -50px;

	border-top-left-radius: 110px;
	border: 10px solid gold;
	background: gold;
}