/* Remove Number Input Arrows */
	input::-webkit-outer-spin-button, 
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance:  textfield;
	}

/* Input Fields */
	#inputs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 5px;
	}


	#timer-values-inputs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 5px;
	}

	#timer-values-inputs-container > p {
		font-weight: 1000;
		margin-bottom: 15px;
		font-size: 17px;
	}

	#timer-values-inputs-container > label {
		text-align: center;
		width: 100%;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.input-timer-values {
		display: block;
		width: 65%;
		margin: auto;
		margin-top: 5px;
		padding: 7px;
		text-align: center;
		font-size: 20px;
		background: #555;
		color: #eee;
		border-radius: 5px;
	}

	.input-timer-values:focus {
		outline: none;
		border-bottom: 3px solid #999;
		background: #444;
	}

	#confirm-values	{
		display: block;
		width: 30%; height: 40px;
		background: #333; color: #fff;

		margin-top: 5px;
		border-radius: 3px;
	}
	
/* DEV */
	#confirm-values:hover {
		background: green;
	}
	#confirm-values:active {
		background: red;
	}

	#timer-values-inputs-container {
		/*display: none;*/
	}



