* {
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	/*-webkit-touch-callout: none;*/
	/*-webkit-user-select: none;*/
	/*-moz-user-select: none;*/
	/*-ms-user-select: none;*/
	/*user-select: none;*/
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/**/
	width: 100vw;
	height: 100vh;
	/**/
	background-color: #191A19;
	color: #dfdbe5;
	font-family: sans-serif;
}

/* HEADER */
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		/**/
		width: 100%;
		height: 60px;
		/**/
		position: relative;
		padding: 5px;
		padding-left: 8px;
		margin: 0;
	}

	.toogle_settings_button {
		margin: 0;
		padding: 0;
		height: 70%;
		width: min-content;
		background: none;
		color: #dfdbe5aa;
	}

	.toogle_settings_button:hover {
		color: #dfdbe5;
		cursor: pointer;
	}
	.toogle_settings_button > svg {
		height: 100%;
	}

/* Corner Buttons */
.corner-button {
	height: 50px; width: 100px;
	position: fixed;
	bottom: 0;
	background: #FFD933;
	transition: transform 1s;
}

.corner-button:hover {
	transform: scale(1.2);
	background: #FBB040;
	border-color: #FBB040;
}

.bottom-left-button {
	left: -50px;
	border: 10px solid #FFD933;
	border-top-right-radius: 110px;
}

.bottom-right-button {
	right: -50px;
	border-top-left-radius: 110px;
	border: 10px solid #FFD933;
}