input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#container-form > label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 18px;
  margin-bottom: 20px;
  /* font-weight: bold; */
}

#container-form > label > span {
  text-align: center;
  margin-right: 5px;
  font-size: 19px;
  font-weight: bold;
  flex-basis: 100%;
}

.timer-value-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #7779;
  color: #eee;
  /* font-size: 20px; */
  font-size: 2ch;
  display: flex;
  min-width: 100px;
  width: 100px;
  max-width: 75% !important;
  padding: 5px;
  text-align: center;
  margin-right: 5px;
}

.timer-value-input:focus {
  outline: none;
  border-bottom: 2px solid #eee;
}


/* BUTTONS */
  #timerButtons {
    position: fixed;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  /* Button That Starts Timer */
    #buttonThatStartsTimer {
      border: none;
      border-radius: 3px;
      padding: 5px;
      font-size: 20px;
      background-color: #79842a;
      transition: background-color 0.5s, transform 0.5s;
      width: 130px;
    }
    #buttonThatStartsTimer:hover, #buttonThatStartsTimer:focus {
      cursor: pointer;
      background-color: #596717;
      transform: scale(1.05);
      outline: none;
    }
    #buttonThatStartsTimer:active {
      background-color: #406030;
      transform: scale(0.95);
      transition: none;
    }
  /* Button That Creates Preset */
    #buttonThatCreatesPreset {
      border: none;
      border-radius: 3px;
      font-size: 18px;
      padding: 5px;
      transition: background-color 0.5s, transform 0.5s;
      width: 130px;
    }
    #buttonThatCreatesPreset:hover, #buttonThatCreatesPreset:focus {
      cursor: pointer;
      /* background-color: #596717 */
      transform: scale(1.05);
      outline: none;
    }
    #buttonThatCreatesPreset:active {
      /* background-color: #406030; */
      transform: scale(0.95);
      transition: none;
    }