* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  font-family: sans-serif;
}

/* Nav Bar */
#leftNavBar {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  border-right: 2px dotted #bbb;
  border-radius: 6px;
}

.changeViewsBtn {
  width: 30px;
  height: 30px;
  margin: 10px;
  stroke: #eee;
  color: #eee;
  transition: transform 0.5s, stroke 0.5s;
}

.changeViewsBtn:hover {
  transform: scale(1.2);
  stroke: #aaa;
  color: #aaa;
}

.changeViewsBtn svg {
  width: 30px;
  height: 30px;
}

.rotate {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  /* 0% {transform: rotate(0);} */
  0% {transform: rotate(-180deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}