.presetCard {
  position: relative;
  width: 70%;
  margin: auto; margin-top: 10px;

  display: flex;
  justify-content: center;

  text-align: center;
  padding: 7px;
  font-weight: bold;
  background-color: #9998;
  box-shadow: 0px 0px 10px #000;
  border-radius: 5px;
}


.values {

}
.buttonsGoHere {
  position: absolute;
  right: 0;
}
.buttonsGoHere > button {

}