h1 {
  text-align: center;
}

#presetsMissing {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* background-color: red; */
}
#presetsMissing > h2 {
  text-align: center;
  font-size: 30px;
}

#presetsMissing a {
  color: pink;
  font-size: 18px;
}